@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.fade-visible {
    opacity: 1;
    transition: opacity 1s; 
}
  
.fade-invisible {
    opacity: 0;
}

.tabcontent {
    display: none;
}